
body {
	background: #194345;
}
.chesscom {
	color: red;
}
.nazvanie {
	color: #021cdb;
}
.text{
	color: #268287;
}
.photo{
	transition: 2s;
}
.photo:hover {
	width: 400px;
	height: 400px;
}
